<!DOCTYPE html>
  <html>

  <head>
  <title>TO-DO</title>
    <!--my links to bootstrap and CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!--my links to bootstrap and CSS-->
  </head>

    <body>
      <div class="container">
        <%= yield %>
      </div>
    </body>
  </html>
